<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>wordLenght</key>
		<integer>1</integer>
		<key>entries</key>
		<array>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
		</array>
	</dict>
	<dict>
		<key>wordLenght</key>
		<integer>2</integer>
		<key>entries</key>
		<array>
			<string>am</string>
			<string>an</string>
			<string>as</string>
			<string>be</string>
			<string>do</string>
			<string>ex</string>
			<string>in</string>
			<string>is</string>
			<string>me</string>
			<string>my</string>
			<string>no</string>
			<string>oh</string>
			<string>on</string>
			<string>so</string>
			<string>up</string>
		</array>
	</dict>
	<dict>
		<key>wordLenght</key>
		<integer>3</integer>
		<key>entries</key>
		<array>
			<string>ask</string>
			<string>bay</string>
			<string>bet</string>
			<string>die</string>
			<string>dog</string>
			<string>dry</string>
			<string>fog</string>
			<string>gem</string>
			<string>hit</string>
			<string>jam</string>
			<string>lay</string>
			<string>pie</string>
			<string>sea</string>
			<string>see</string>
			<string>sip</string>
		</array>
	</dict>
	<dict>
		<key>wordLenght</key>
		<integer>4</integer>
		<key>entries</key>
		<array>
			<string>beef</string>
			<string>care</string>
			<string>door</string>
			<string>fill</string>
			<string>fuss</string>
			<string>hard</string>
			<string>mass</string>
			<string>mist</string>
			<string>pour</string>
			<string>pull</string>
			<string>rest</string>
			<string>rich</string>
			<string>seek</string>
			<string>tank</string>
			<string>tone</string>
		</array>
	</dict>
	<dict>
		<key>wordLenght</key>
		<integer>5</integer>
		<key>entries</key>
		<array>
			<string>agile</string>
			<string>alert</string>
			<string>belly</string>
			<string>bench</string>
			<string>cross</string>
			<string>crowd</string>
			<string>fears</string>
			<string>fermi</string>
			<string>hacks</string>
			<string>krill</string>
			<string>logos</string>
			<string>omits</string>
			<string>peach</string>
			<string>swirl</string>
			<string>yummy</string>
		</array>
	</dict>
	<dict>
		<key>wordLenght</key>
		<integer>6</integer>
		<key>entries</key>
		<array>
			<string>appear</string>
			<string>bloody</string>
			<string>cotton</string>
			<string>doctor</string>
			<string>galaxy</string>
			<string>grudge</string>
			<string>heaven</string>
			<string>lesson</string>
			<string>locate</string>
			<string>manual</string>
			<string>mosque</string>
			<string>notion</string>
			<string>prison</string>
			<string>rotate</string>
			<string>throne</string>
		</array>
	</dict>
	<dict>
		<key>wordLenght</key>
		<integer>7</integer>
		<key>entries</key>
		<array>
			<string>bargain</string>
			<string>confine</string>
			<string>counter</string>
			<string>feature</string>
			<string>fortune</string>
			<string>glasses</string>
			<string>monster</string>
			<string>neutral</string>
			<string>passive</string>
			<string>posture</string>
			<string>release</string>
			<string>scratch</string>
			<string>tourist</string>
			<string>unaware</string>
			<string>warrant</string>
		</array>
	</dict>
	<dict>
		<key>wordLenght</key>
		<integer>8</integer>
		<key>entries</key>
		<array>
			<string>ancestor</string>
			<string>approval</string>
			<string>category</string>
			<string>definite</string>
			<string>designer</string>
			<string>handicap</string>
			<string>hesitate</string>
			<string>infinite</string>
			<string>memorial</string>
			<string>mistreat</string>
			<string>pleasure</string>
			<string>rhetoric</string>
			<string>sequence</string>
			<string>sickness</string>
			<string>tendency</string>
		</array>
	</dict>
	<dict>
		<key>wordLenght</key>
		<integer>9</integer>
		<key>entries</key>
		<array>
			<string>admission</string>
			<string>chocolate</string>
			<string>clearance</string>
			<string>directory</string>
			<string>guerrilla</string>
			<string>guideline</string>
			<string>influence</string>
			<string>insurance</string>
			<string>overwhelm</string>
			<string>permanent</string>
			<string>recession</string>
			<string>reference</string>
			<string>residence</string>
			<string>vegetable</string>
			<string>waterfall</string>
		</array>
	</dict>
	<dict>
		<key>wordLenght</key>
		<integer>10</integer>
		<key>entries</key>
		<array>
			<string>censorship</string>
			<string>conclusion</string>
			<string>conscience</string>
			<string>engagement</string>
			<string>government</string>
			<string>houseplant</string>
			<string>incredible</string>
			<string>investment</string>
			<string>motivation</string>
			<string>production</string>
			<string>projection</string>
			<string>reasonable</string>
			<string>redundancy</string>
			<string>reflection</string>
			<string>simplicity</string>
		</array>
	</dict>
	<dict>
		<key>wordLenght</key>
		<integer>11</integer>
		<key>entries</key>
		<array>
			<string>anniversary</string>
			<string>calculation</string>
			<string>convenience</string>
			<string>cooperation</string>
			<string>cooperative</string>
			<string>electronics</string>
			<string>entitlement</string>
			<string>firefighter</string>
			<string>institution</string>
			<string>partnership</string>
			<string>photography</string>
			<string>prosecution</string>
			<string>spontaneous</string>
			<string>uncertainty</string>
			<string>unfortunate</string>
		</array>
	</dict>
	<dict>
		<key>wordLenght</key>
		<integer>12</integer>
		<key>entries</key>
		<array>
			<string>accumulation</string>
			<string>acquaintance</string>
			<string>announcement</string>
			<string>circumstance</string>
			<string>civilization</string>
			<string>complication</string>
			<string>conglomerate</string>
			<string>continuation</string>
			<string>conversation</string>
			<string>introduction</string>
			<string>jurisdiction</string>
			<string>refrigerator</string>
			<string>reproduction</string>
			<string>satisfaction</string>
			<string>spokesperson</string>
		</array>
	</dict>
	<dict>
		<key>wordLenght</key>
		<integer>13</integer>
		<key>entries</key>
		<array>
			<string>comprehensive</string>
			<string>confrontation</string>
			<string>consideration</string>
			<string>demonstration</string>
			<string>embarrassment</string>
			<string>entertainment</string>
			<string>environmental</string>
			<string>inappropriate</string>
			<string>investigation</string>
			<string>preoccupation</string>
			<string>qualification</string>
			<string>revolutionary</string>
			<string>strikebreaker</string>
			<string>supplementary</string>
			<string>understanding</string>
		</array>
	</dict>
	<dict>
		<key>wordLenght</key>
		<integer>14</integer>
		<key>entries</key>
		<array>
			<string>Abstractionist</string>
			<string>Attractiveness</string>
			<string>Bioengineering</string>
			<string>Cinematography</string>
			<string>Detoxification</string>
			<string>Distinguishing</string>
			<string>Indestructible</string>
			<string>Liberalization</string>
			<string>Mountaineering</string>
			<string>Pharmaceutical</string>
			<string>Quintessential</string>
			<string>Superstructure</string>
			<string>Thoughtfulness</string>
			<string>Weightlessness</string>
			<string>Widespreadness</string>
		</array>
	</dict>
	<dict>
		<key>wordLenght</key>
		<integer>15</integer>
		<key>entries</key>
		<array>
			<string>Abdominovesical</string>
			<string>Acanthisittidae</string>
			<string>Accomplishments</string>
			<string>Alphabetisation</string>
			<string>Americanization</string>
			<string>Characteristics</string>
			<string>Congratulations</string>
			<string>Desertification</string>
			<string>Influentialness</string>
			<string>Interdependence</string>
			<string>Methamphetamine</string>
			<string>Procrastination</string>
			<string>Rumpelstiltskin</string>
			<string>Thermochemistry</string>
			<string>Unprepossessing</string>
		</array>
	</dict>
	<dict>
		<key>wordLenght</key>
		<integer>16</integer>
		<key>entries</key>
		<array>
			<string>Abdominocentesis</string>
			<string>Absentmindedness</string>
			<string>Anesthesiologist</string>
			<string>Anthropomorphize</string>
			<string>Australopithecus</string>
			<string>Characterization</string>
			<string>Collectivization</string>
			<string>Enthusiastically</string>
			<string>Extraterrestrial</string>
			<string>Hydroelectricity</string>
			<string>Misunderstanding</string>
			<string>Multiprogramming</string>
			<string>Prestidigitation</string>
			<string>Sphygmomanometer</string>
			<string>Undifferentiated</string>
		</array>
	</dict>
	<dict>
		<key>wordLenght</key>
		<integer>17</integer>
		<key>entries</key>
		<array>
			<string>Australopithecine</string>
			<string>Chemiluminescence</string>
			<string>Collaborativeness</string>
			<string>Commercialization</string>
			<string>Counterrevolution</string>
			<string>Decriminalization</string>
			<string>Demasculinization</string>
			<string>Denationalization</string>
			<string>Electronegativity</string>
			<string>Electrophotometer</string>
			<string>Indecipherability</string>
			<string>Industrialisation</string>
			<string>Interdisciplinary</string>
			<string>Quattuordecillion</string>
			<string>Telecommunication</string>
		</array>
	</dict>
	<dict>
		<key>wordLenght</key>
		<integer>18</integer>
		<key>entries</key>
		<array>
			<string>Adenocarcinomatous</string>
			<string>Agammaglobulinemia</string>
			<string>Aktiengesellschaft</string>
			<string>Anthropocentricity</string>
			<string>Bioinstrumentation</string>
			<string>Characteristically</string>
			<string>Coccidioidomycosis</string>
			<string>Discriminativeness</string>
			<string>Enterobacteriaceae</string>
			<string>Gastroenterologist</string>
			<string>Glomerulonephritis</string>
			<string>Hemidemisemiquaver</string>
			<string>Hyperbilirubinemia</string>
			<string>Oversimplification</string>
			<string>Pachycephalosaurus</string>
		</array>
	</dict>
	<dict>
		<key>wordLenght</key>
		<integer>19</integer>
		<key>entries</key>
		<array>
			<string>Adrenocorticotropic</string>
			<string>Auriculoventricular</string>
			<string>Chemicoluminescence</string>
			<string>Conventionalization</string>
			<string>Counterintelligence</string>
			<string>Electrocardiography</string>
			<string>Encephalomeningitis</string>
			<string>Hypoadrenocorticism</string>
			<string>Hypolipoproteinemia</string>
			<string>Individualistically</string>
			<string>Intellectualisation</string>
			<string>Photodisintegration</string>
			<string>Psychophysiological</string>
			<string>Ultracentrifugation</string>
			<string>Xenotransplantation</string>
		</array>
	</dict>
	<dict>
		<key>wordLenght</key>
		<integer>20</integer>
		<key>entries</key>
		<array>
			<string></string>
			<string>Abetalipoproteinemia</string>
			<string>Antiestablishmentism</string>
			<string>Compartmentalisation</string>
			<string>Electrogalvanization</string>
			<string>Heterobasidiomycetes</string>
			<string>Hyperlipoproteinemia</string>
			<string>Immunohistochemistry</string>
			<string>Incontrovertibleness</string>
			<string>Internationalization</string>
			<string>Oophorosalpingectomy</string>
			<string>Overenthusiastically</string>
			<string>Palatopharyngoplasty</string>
			<string>Semiautobiographical</string>
			<string>Unsubstantialization</string>
		</array>
	</dict>
</array>
</plist>
